.hometitulo {
    margin: 0%;
    margin-top: 50px;
    margin-bottom: 50px;
    
    text-align: center;
    color: rgb(8, 8, 8);
    font-family: 'Brush Script MT', cursive;
    font-size: 70px;
    
    
}

.tituloContato{
    color:black;
    
}

nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(213, 211, 233);
    border-radius: 3.5rem;
}

.center{
    text-align: center;
    display: flex;
    margin-right:  50px;
}

.container{
    display: flex;
    flex-flow: row ;
    justify-content:center ;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.espacoform{
    display: flex;
    flex-flow: row ;
    margin-top: 2px;
 
}

.espacoformN{
    display: flex;
    flex-flow: row ;
    margin-top: 10px;
 
}
.text{
    text-align: justify;
    font-size: 18px;
    width: 100%;
    margin-left: 50px;
    
}


.iconemenu{
    width: 30px;
    height: 30px;
}

#menu li{
    text-align: center;
    margin: 0;
	padding: 0;
    display: inline;
    padding: 30px;
    text-decoration: none;  

}

#menu li a{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:black;
    font-size: 20px;
    margin-top: -10px;

}

#menu li a:hover {
    color:grey;
}

.tituloVideo {

    flex-flow: row wrap;
    text-align:center;
    color: #6c5ce7;
    margin-top: 50px;
}
.video{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    margin-bottom: 70px;
}

.button {
    border-radius: 4px;
    background-color: #937aac;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    margin: 5px;
}

.button span {
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.img{
    
    display: flex;
    justify-content: center;
    width: 100%;
}

.img{
    width: 600px;
    height: 300px;
    margin-right: 1px;    
}

.rodape{
    
    text-align: center;
}

.tamanhoIcones{
    width: 30px;
    height: 30px;
    padding: 10px;
    
}


.icol{
    text-align: center;
    margin-bottom: -20px;
    margin-top: -10px;
}

.endereco{
    margin-left: 80px;

}

.form{
    margin-right: 50px;
    
}

.demo_wrap {
    position: relative;
    overflow: hidden;
    padding: 16px;
    margin-bottom: 50px;
    
}
.demo_wrap h1 {
    padding: 100px;
    position: relative;
    z-index: 2;
}
.demo_wrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.4;
}



